.movies {
  padding: 1rem;
  img {
    height: 350px;
  }
}
.categoryName {
  padding: 0 2rem;
  p {
    color: rgba(253, 125, 96, 1);
    font-size: 1rem;
    margin-bottom: 0px !important;
  }
}
.uk-active {
  padding-left: 20px !important;
}
@media (max-width: 560px) {
  .uk-panel {
    img {
      height: 245px !important;
    }
  }
}
