.movies {
  padding: 1rem;
  img {
    height: 350px;
  }
  .uk-panel {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .show-title {
    color: #e5e5e5;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .mdi {
    color: #e5e5e5;
    font-family: 'Josefin Sans', sans-serif;
  }
}
.categoryName {
  padding: 0 2rem;
  p {
    color: rgba(253, 125, 96, 1);
    font-size: 1rem;
    margin-bottom: 0px !important;
  }
}
.uk-active {
  padding-left: 20px !important;
}
@media (max-width: 560px) {
  .uk-panel {
    img {
      height: 245px !important;
    }
  }
}
