<div class="wrapper">
  <!-- <app-movies-display [categoryName] = "category1"></app-movies-display> -->
  <app-movies-display [categoryName] = "category1"></app-movies-display>
  <app-movies-display [categoryName] = "category2"></app-movies-display>
  <app-movies-display [categoryName] = "category3"></app-movies-display>
  <app-movies-display [categoryName] = "category4"></app-movies-display>
  <app-movies-display [categoryName] = "category5"></app-movies-display>
  <app-movies-display [categoryName] = "category6"></app-movies-display>
  <app-movies-display [categoryName] = "category7"></app-movies-display>
</div>
