.menu_items {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
    text-align: center;
  li {
    list-style: none;
    color: #e5e5e5;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1) 0s;
    &:hover {
      color: rgba(253, 125, 96, 1);
      // border-top: 1px solid;
      // font-size: 1.2rem;
    }
  }
}
.linkActive {
  color: rgba(253, 125, 96, 1)  !important;
}
