.movies {
  padding: 1rem;
  img {
    height: 300px;
  }
}
.categoryName {
  padding: 0 2rem;
  p {
    color: white;
    font-size: 1rem;
    margin-bottom: 0px !important;
  }
}
.uk-active {
  padding-left: 20px !important;
}
